apiVersion: v1
kind: ConfigMap
metadata:
  name: "customized"
  namespace: "openshift-secondary-scheduler-operator"
data:
  "config.yaml": |
    apiVersion: kubescheduler.config.k8s.io/v1
    kind: KubeSchedulerConfiguration
    profiles:
      - schedulerName: secondary-scheduler
        pluginConfig:
          - args:
              scoringStrategy:
                type: MostAllocated
            name: NodeResourcesFit
        plugins:
          score:
            disabled:
            - name: "NodeResourcesBalancedAllocation"
            enabled:
            - name: "NodeResourcesFit"
              weight: 5
