apiVersion: apps/v1
kind: Deployment
metadata:
  name: "secondary-scheduler"
  namespace: "openshift-secondary-scheduler-operator"
  labels:
    app: "secondary-scheduler"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "secondary-scheduler"
  template:
    metadata:
      labels:
        app: "secondary-scheduler"
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: "etckubernetes"
          configMap:
            name: ${CONFIGMAP}
        - name: tmp
          emptyDir: {}
        - name: certs-dir
          secret:
            secretName: secondary-scheduler-serving-cert
      restartPolicy: "Always"
      containers:
        - name: "secondary-scheduler"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          image: ${IMAGE}
          command:
            - /bin/kube-scheduler
          args:
            - --config=/etc/kubernetes/config.yaml
            - --tls-cert-file=/certs-dir/tls.crt
            - --tls-private-key-file=/certs-dir/tls.key
          env:
          - name: ENABLE_OPENSHIFT_AUTH
            value: "true"
          resources:
            requests:
              cpu: 15m
              memory: 50Mi
          ports:
          - containerPort: 10259
          livenessProbe:
            httpGet:
              scheme: HTTPS
              port: 10259
              path: healthz
            initialDelaySeconds: 45
            timeOutSeconds: 10
          readinessProbe:
            httpGet:
              scheme: HTTPS
              port: 10259
              path: healthz
            initialDelaySeconds: 45
            timeOutSeconds: 10
          volumeMounts:
            - mountPath: "/etc/kubernetes"
              name: "etckubernetes"
            - name: tmp
              mountPath: "/tmp"
            - mountPath: "/certs-dir"
              name: certs-dir
      serviceAccountName: "secondary-scheduler"
